body{
    background-image:url(../img/fundo.png); /* ../ Serve para voltar uma pasta pq o arquivo de imagem está dentro do CSS */
    background-size: cover;
    font-family:'Lato',Arial, Helvetica, sans-serif;
    margin:0;/*O body já vem com uma margem para remover vc coloca margin=0;*/
}

a{ 
    text-decoration: none;/*Eliminar sublinhado dos links*/
}

.perfil{
    background-color: white;
    width:35%;
    margin:60px auto; /*cortar a margem e deixar centralizado margin:0 auto*/
    text-align:center;
    padding: 30px 5px;
}

.foto-perfil{
    width: 200px;
}

h1{
    color:#5D1277;
    font-size: 30px;
}
p{
    color:#4f4f4f;
    font-size:18px;
    padding:10px 0 30px 0 ;
}
/*Para pegar somente um tipo de elemento dentro de uma classe basta colocar a classe e colocar o item depois com o espaço*/
.redes img{
    width:65px;
    margin:0 20px;
}

